@font-face {
    src: url('../../Container/KumbhSans-Regular.ttf');
    font-family: body;
}
#new-block {
    position: relative;
    background-color: rgb(237, 230, 223);
    color: rgb(15,15,15);
    font-family: body;
    width: 80vw;
    border-radius: 5px;
    padding: 5px 10px 0;
    height: 23vh;
    margin-bottom: 10px;
    transition-property: opacity;
    transition: 0.3s;
}
#event-name {
    width: 100%;
    margin: 5px 0px;
    font-weight: bold;
}
#event-input, #desc-input{
    padding: 2.5px 10px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 15px;
    margin-left: 0;
    width: 70%;
}
#desc{
    width: 100%;
    margin: 5px 0px;
}

.end-time {
    position: absolute;
    bottom: 1vh;
    right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#end-label {
    position: absolute;
    margin: 0;
    bottom: 0px;
    right: 130px;
}
.add-schedule-block {
    position: absolute;
    left: 20px;
    bottom: -2.5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    height: 150%;
    transition: 0.2s;
}
select {
    border: none;
    transition: 0.2s;
}
.close-form{
    font-weight: bold;
    border: none;
    width: 25px;
    height: 25px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    right: 10px;
    transition: 0.2s;
}
#form-error {
    margin: 2%;
    color: rgb(194, 0, 0);
}

@media screen and (min-width: 1080px) {
    #new-block {
        width: 40vw;
    }
    .close-form:hover {
        background-color: white;
    }
    .add-schedule-block:hover {
        background-color: rgb(180, 180, 180);
    }
    select:hover {
        background-color: rgb(180, 180, 180);
    }
}