.login-block {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.login-btn-show {
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 8px;
    background-color: rgb(228, 207, 181);
    justify-self: center;
}
.login-btn-hide{
    display: none;
}