.add-block {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.add-btn {
    border: none;
    background-color: inherit;
    font-size: 22px;
    font-weight: bold;
}
.add-btn:focus{
    outline: 2px solid burlywood
}
@media screen and (min-width: 1080px) {
    .add-btn:hover {
        color: darkslategray;
    }
}